a:link {
  color: aqua;
}
a:visited {
  color: blueviolet;
}
body{
    margin-left: 100px;
    line-height: 2;
}
h1{
    text-align: center;
    color: rgb(245, 1, 1);
}
h2{
    text-align: center;
}
video:hover{
    align-content: center;
}
